body, html {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: absolute;
  cursor: pointer;
  height: 100dvh;
  width: 100vw;
  opacity: 1;
  transition: opacity 0.5s ease;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page.hidden {
  opacity: 0;
  pointer-events: none;
}

#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9 {
  background-image: url('img/bg.png');
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 10px;
  max-width: 90vw;
  box-sizing: border-box;
}

.title {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  font-weight: bold;
  word-break: break-word;
}

.caption {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ccc;
}

.reminder {
  margin-top: 2rem;
  font-size: 1rem;
  display: none;
}

.trailer-box {
  width: 90%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 3 / 2;
  background-color: white;
  border-radius: 1rem;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 1rem 0;
}

.trailer-box:hover {
  transform: scale(1.05);
}

.next-button,
.ws-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.7rem 2rem;
  background-color: white;
  color: black;
  border-radius: 999px;
  font-family: 'Space Mono', monospace;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: 1rem;
}

.next-button:hover,
.ws-btn:hover {
  background-color: #ddd;
}

.info-box {
  background-color: rgba(255, 69, 0, 0.25);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  font-family: 'Space Mono', monospace;
  color: white;
  width: 90vw;
  max-width: 400px;
  margin: 2rem auto;
  line-height: 1.8;
  backdrop-filter: blur(8px);
  text-align: left;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
}

.info-box ul {
  padding-left: 1rem;
  margin: 0;
}

.info-box li {
  list-style-type: disc;
}

#reject, #rejectBtn {
  background-color: #a53723;
  color: white;
}

#rejectBtn:disabled {
  background-color: #666 !important;
  color: #ccc !important;
  cursor: not-allowed;
  opacity: 0.6;
}

#reject:hover,
#rejectBtn:hover:not(:disabled) {
  background-color: #7e291a;
  color: #fff;
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .next-button,
  .ws-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }

  .caption,
  .reminder {
    font-size: 0.9rem;
  }

  .info-box {
    padding: 1rem 1.2rem;
    max-width: 300px;
  }
}
